<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aht" translate="label" sortOrder="10">
            <label>AHT</label>
        </tab>
        <section id="configurable_product" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configurable Product</label>
            <tab>aht</tab>
            <resource>AHT_ConfigurableProduct::configurable_product_config</resource>
            <group id="change_content" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Reviews</label>
                <field id="name" translate="label" type="select" sortOrder="1" showInDefault="1" canRestore="1">
                    <label>Name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="short_description" translate="label" type="select" sortOrder="2" showInDefault="1" canRestore="1">
                    <label>Short Description</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="description" translate="label" type="select" sortOrder="2" showInDefault="1" canRestore="1">
                    <label>Description</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sku" translate="label" type="select" sortOrder="2" showInDefault="1" canRestore="1">
                    <label>Sku</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="status" translate="label" type="select" sortOrder="2" showInDefault="1" canRestore="1">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
